/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Define the height of the code block to shorten long code into normalised contained */
.theme-code-block pre {
    max-height: 480px;
    overflow-y: auto;
}

/* Allow to wrap long lines in code block to avoid adding horizontal scrollbar */
.theme-code-block code {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

/* Allow to align the  content of the table cell to the top */
table td {
    vertical-align: top;
}

/* === Search Bar Customization === */
/* Increase base width */
.navbar__search-input {
    width: 20rem;                           /* Default is approx. 9rem */
    transition: width 0.2s ease-in-out;     /* Adds a smooth transition effect */
}

/* Focus state (optional) */
/* Expands the input field when clicked/active */
.navbar__search-input:focus {
    width: 25rem;
    border-color: var(--ifm-color-primary); /* Highlights border using the site's primary color */
}

/* Mobile responsiveness */
/* Prevents the input from overflowing on smaller screens */
@media (max-width: 996px) {
    .navbar__search-input {
        width: 10rem;
    }
    .navbar__search-input:focus {
        width: 12rem;
    }
}

/* Remove Search Shortcut Hint (Ctrl+K) */
.navbar__search-keys {
    display: none !important;
}